/* src/App.css */

.react-calendar {
	width: 900px;
	background-color: "#fff";
	color: #222;
	border-radius: 8px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
}
.react-calendar__navigation button {
	color: #6f48eb;
	min-width: 44px;
	background: none;
	font-size: 16px;
	margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
	background-color: #f0f0f0;
}
.react-calendar__tile {
	height: 100px; /* Fixed height for each tile */
	width: 200px; /* Fixed width for each tile */
	display: flex;
	justify-content: center;
	align-items: center;
}

.react-calendar__month-view__days__day {
	height: 100px; /* Fixed height for each day tile */
	width: 400px; /* Fixed width for each day tile */
	display: flex;
	justify-content: center;
	align-items: center;
}
abbr[title] {
	text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
	color: #d10000;
 } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background: #f8f8fa;
	color: #6f48eb;
	border-radius: 6px;
}
.react-calendar__tile--now {
	background: #6f48eb33;
	border-radius: 6px;
	font-weight: bold;
	color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #6f48eb33;
	border-radius: 6px;
	font-weight: bold;
	color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #f8f8fa;
}
.react-calendar__tile--active {
	background: #6f48eb;
	border-radius: 6px;
	font-weight: bold;
	color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #6f48eb;
	color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #f8f8fa;
}
.react-calendar__tile--range {
	background: #f8f8fa;
	color: #6f48eb;
	border-radius: 0;
}
.react-calendar__tile--rangeStart {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background: #6f48eb;
	color: white;
}
.react-calendar__tile--rangeEnd {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background: #6f48eb;
	color: white;
}
.dropdown-container {
	margin: 20px 0;
}

.dropdown-select {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
	max-width: 400px;
	font-size: 16px;
}

.timesheet-button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #61dafb;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.timesheet-button:hover {
	background-color: #21a1f1;
}

.modal-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	border: 2px solid #000;
	box-shadow: 24;
	padding-top: 2;
	padding-left: 4;
	padding-right: 4;
	padding-bottom: 3;
	border-radius: 10px;
}

.modal-title {
	margin-bottom: 20px;
}

.modal-button {
	background-color: #61dafb;
	color: white;
}

.modal-button:hover {
	background-color: #21a1f1;
}

